body {
  background-color: black;
  position: relative;
  height: 100vh;
}

#stimuli {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  height: 70vh;
  width: 80vw;
  margin: auto;
  padding: 5vw;
}

.stim {
  width: 20vw;
  height: auto;
  position: absolute;
  animation-name: flashAnimation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#stim-up {
  /* 8Hz */
  animation-duration: calc(1s / 8);
  top: 0;
  left: 0;
}
#stim-on {
  /* 13Hz */
  animation-duration: calc(1s / 13);
  top: 0;
  right: 0;
}
#stim-down {
  /* 10Hz */
  animation-duration: calc(1s / 10);
  bottom: 0;
  left: 0;
}
#stim-like {
  /* 12Hz */
  animation-duration: calc(1s / 12);
  bottom: 0;
  right: 0;
}
/*@keyframes flashAnimation {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
*/
@keyframes flashAnimation{
	/*
	0% {
		opacity: 0;
	}
	50% {
		opacity 1;
	}
	100% {
		opacity 0;
	}
	*/
	0% {
		filter: invert(0%);
	}
	50% {
		filter: invert(100%);
	}
	100% {
		filter: invert(0%);
	}



}

#content {
  width: 500px;
  margin: auto;
  padding-top: 20vh;
}
